/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and borders in box model */
}

/* Overall Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.learnings {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Section Styling */
.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.learning-category {
    flex: 1;
    width: calc(50% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.learning-category h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #0097a7;
    padding-bottom: 10px;
}

.certificate-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.certificate-card:hover {
    transform: scale(1.02);
}

.certificate-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0097a7;
}

.certificate-details {
    display: none;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.certificate-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.certificate-details p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.certificate-details a {
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.certificate-details a:hover {
    color: #0097a7;
}

.show-details {
    display: block;
}
