/* Blog Post Container */
.blog-post {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Headings */
.blog-post h2 {
    font-size: 40px;
    color: #333;
    margin-top: 0;
}

.blog-post h3 {
    font-size: 20px;
    color: #3498db;
    margin-top: 20px;
    margin-bottom: 10px;
}
.blog-post p{
    font-size: 20px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Meta Information */
.blog-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* Author Link */
.blog-meta a {
    text-decoration: none;
    color: #3498db;
}

/* Images */
.blog-post img {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
pre {
    background: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
}
/* Styling for code blocks */
code {
    font-size: 14px;
    /* Add color which is used for code  */;
    color: #2266b2;
    background-color: #f7f7f7; /* Background color for code blocks */
    padding: 5px; /* Padding around code blocks */
    border: 1px solid #e1e1e1; /* Border for code blocks */
    border-radius: 3px; /* Rounded corners for code blocks */
    display: block; /* Make code blocks display as block elements */
    overflow: auto; /* Add a scrollbar if the code is too long */
    white-space: pre-wrap; /* Preserve line breaks and wrap long lines */
}
