/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Overall Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #333;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}  
@media (max-width: 768px) {
    .navbar-menu {
        display: none; /* Hide menu for smaller screens by default */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust the top position to avoid covering content */
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    

    .navbar-menu.active {
        display: flex; /* Show menu when active */
    }

    .navbar-toggle {
        display: flex; /* Show toggle icon for smaller screens */
        /*move the right most edge to the right most edge of the screen*/
        margin-left: auto;


        /* align vertically center */
        align-items: center;


    }
    .navbar-logo{
        display: flex;
        margin-left: 10px;
    }

}




/* Blog Styling */
.blog {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.blog-post {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.blog-post h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.blog-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.blog-post p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.read-more {
    text-decoration: none;
    color: #0097a7;
    font-weight: bold;
    transition: color 0.3s ease;
}

.read-more:hover {
    color: #007d8a;
}
